<a href="https://colab.research.google.com/github/Charlotte-01/Employee_Retention/blob/master/Employee_retention.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [7]:
ls -ahl 'gdrive/My Drive/A collection of Data Science take-home challenge/Employee Retention'

total 1.3M
-rw------- 1 root root 1.3M Jan  7  2019 employee_retention_data.csv

In [9]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

Data Explore

In [10]:
df = pd.read_csv('gdrive/My Drive/A collection of Data Science take-home challenge/Employee Retention/employee_retention_data.csv')
df.head()

   employee_id  company_id              dept  ...    salary   join_date   quit_date
0      13021.0           7  customer_service  ...   89000.0  2014-03-24  2015-10-30
1     825355.0           7         marketing  ...  183000.0  2013-04-29  2014-04-04
2     927315.0           4         marketing  ...  101000.0  2014-10-13         NaN
3     662910.0           7  customer_service  ...  115000.0  2012-05-14  2013-06-07
4     256971.0           2      data_science  ...  276000.0  2011-10-17  2014-08-22

[5 rows x 7 columns]